WpfApp1/WpfApp1/Connected Services/ServiceReference1/Service22.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOftblStock">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblStock" nillable="true" type="tns:tblStock" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblStock" nillable="true" type="tns:ArrayOftblStock" />
  <xs:complexType name="tblStock">
    <xs:sequence>
      <xs:element minOccurs="0" name="addedBy" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="quantity" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="quantity_remaining" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="stockId" type="xs:int" />
      <xs:element minOccurs="0" name="stockName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblStock" nillable="true" type="tns:tblStock" />
</xs:schema>